/*
  ROOT
*/
body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #141619;
	color: white;
}

/*
  IDENTITY
*/
ttl {
	font-size: 40px;
	background: -webkit-linear-gradient(132deg, #325068, #aa58cf, #eeae65);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
	display: inline-block;
	padding: 10px 10px 20px 10px;
	user-select: none;
}

/*
  USER INPUTS
*/
input, textarea, select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
}

textarea, input[type="text"], select, #reminder {
	padding: 10px;
	font-size: 14px;
	flex-grow: 1;
	border: 0;
	background-color: #eeae65;
	font-size: 15px;
	color: black;
	resize: vertical;
}

textarea {
	border-radius: 7px 7px 0px 7px;
}

input[type="text"], select {
	border-radius: 7px;
}

textarea:disabled, input[type="text"]:disabled {
	background-color: #686868;
	color: #b6b6b6 !important;
}

button {
	width: 100%;
	padding: 10px;
	cursor: pointer;
	background-color: #a655d1;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	color: white;
	border-radius: 7px;
}

label {
	user-select: none;
}

label[for="chk-strbeg"], label[for="chk-strend"] {
		width: 100%;
}

/*
  GENERAL, INPUTS
*/
fieldset {
	margin-bottom: 20px;
	background-color: #282f3b;
	border: 1px solid #777;
	border-radius: 7px;
}

fieldset#inputs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: flex-start;
}

fieldset.field-test {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
}

#btn-rgxRun {
	padding: 10px 30px 10px 30px;
	width: fit-content;
	margin: 20px;
}

button:active {
	background-color: #a655d1 !important;
}

button:hover {
	background-color: #6e348c;
}

/*
  1# USER INPUTS
*/
.cont-inputs {
	width: 100%;
}

.cont-lists {				
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: flex-start;
}

.cont-checkbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	width: fit-content;
}

.cont-checkboxs {
	align-self: center;
}

input#chk-strbeg, input#chk-strend {
		width: fit-content;
}

div.cont-checkbox > input[type="checkbox"] {
	margin-left: 10px;
}

/*
  #1.a REMINDER
*/
.cont-reminder {
	width: 300px;
	padding-left: 20px;
}

#reminder {
	border-radius: 7px;
	margin: 7px 0px 7px 0px;
	background-color: #9ed4f0;
}

/*
  2# REGEX GENERATION
*/
#testUrls, #results {
	height: 350px;
}

/*
	3# URL TESTING
*/
.cont-urlTest {
	width: 100%;
}

/*
  BREADCRUMB MENU
*/
ul.breadcrumb {
	padding: 8px 16px;
	list-style: none;
	background-color: #282f3b;
	border-radius: 7px;
}

ul.breadcrumb li {
	display: inline;
	color: grey;
}

ul.breadcrumb li+li:before {
	padding: 6px;
	content: "\002B29";
}

ul.breadcrumb li a {
	color: grey;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: white;
	text-decoration: underline;
}